@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clases personalizadas que Tailwind NO genera automáticamente */
@layer utilities {
  .px-margin-mobile {
    padding-left: 24px;
    padding-right: 24px;
  }
  .max-w-container-max {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .gap-gutter {
    gap: 32px;
  }
  .p-gutter {
    padding: 32px;
  }
}
