@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/hanken-grotesk-v12-latin_latin-ext-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/hanken-grotesk-v12-latin_latin-ext-500.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/hanken-grotesk-v12-latin_latin-ext-600.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/hanken-grotesk-v12-latin_latin-ext-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist-v5-latin_latin-ext-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist-v5-latin_latin-ext-600.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

